#logo{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 15px;
    box-shadow:0px 0px 15px rgb(177, 38, 177);
}

.newGame{
    font-size: 24pt;
}

.plus{
    font-size: 28pt;
    color: rgb(177, 38, 177);
}

.spacer{
    margin: 75px;
}

ion-button{
    color:white;
}

.buttons{
    margin-top: 50px;
    text-align: center;
}
