#logo{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 15px;
}

.newGame{
    font-size: 24pt;
}

.plus{
    font-size: 28pt;
    color: rgb(177, 38, 177);
}

ion-tab-bar{
    background-color: black;
}

ion-icon{
    color: rgb(177, 38, 177);
}